<main>
    <h1>The Nom-Nom Project</h1>
    <p>Brought to you by the Nom-Nom team</p>

    <!-- About -->
    <section>
        <h2>About</h2>
        <p>
            The Nom Nom project is a small project for Hamiltion Boys' High School Commerce students to get more revenue on Market day.<br>
            Simply look through the examples, fill out the contact form, and also send an email to <i>4vkudva@hbhs.school.nz</i> just to be safe.<br>
            In 2025, our Market day team generated $25.50 just from this website alone.<br>
            <a href="/about">Read more...</a>
        </p>
    </section>

    <!-- Origins -->
    <section>
        <h2>Origins</h2>
        <p>
            In 2025, Logan Norman, Krishh Grover, Muhammad Abdullah, and I joined together as a group for our school's Market Day in our commerce class.<br>
            We were nothing special, and our food was about the same quality and same price as every other group.<br>
            However, as a fullstack web developer by hobby, I wanted to make something extra for our marketing campain.<br>
            So, I built this site, and <a href="https://github.com/Visheshbons/nom-nom/releases/tag/2.0.0">v2</a> was the version that ran for the week before Market Day.<br>
            <a href="/origins">Read more...</a>
        </p>
    </section>

    <!-- Examples -->
    <section>
        <h2>Examples</h2>
    </section>

    <!-- Contact -->
    <section>
        <h2>Contact</h2>
    </section>

</main>
