<!DOCTYPE html>
<html>
    <head>
        <title>Home | Nom-Nom Project</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <!-- This is the <header> element -->
        <%- include('header') %>

        <!-- Contains the site content -->
        <%- include(page) %>

        <!-- This is the <footer> element -->
        <%- include('footer') %>
    </body>
</html>
