<!DOCTYPE html>
<html>
    <head>
        <title>Home | Nom-Nom Project</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <!-- This is the <nav> element -->
        <%- include('nav') %>

        <!-- This is the <header> element -->
        <%- include('header') %>

        <main>
        </main>

        <!-- This is the <footer> element -->
        <%- include('footer') %>
    </body>
</html>
