<main>
    <h1>Our Origins</h1>
    <section>
        <h2>The Nom-Nom Market Day Team</h2>
        <p>
            In 2025, Logan Norman, Krishh Grover, Muhammad Abdullah, and I joined together as a group for our school's Market Day in our commerce class.<br>
            We were nothing special, and our food was about the same quality and same price as every other group.<br>
            However, I, as a fullstack web developer by hobby, wanted to make something extra for our marketing campain.<br>
            So, I built this site, and v2 was the version that ran for the week before Market Day.<br>
            <br>
            This site alone made us $25.50.<br>
            <br>
            Even on the weekend following Market Day, I knew that I couldn't just let the site die, and maybe to let next year's Year 10 Commerce students use this site for their Market Day stalls, for a small fee.<br>
        </p>
    </section>
</main>
